@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-100 dark:bg-slate-900 text-gray-900 dark:text-gray-100;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.dark {
  background-color: #0f172a;
  color: white;
}